/* Post Styling */

.item-post {
    /** gallery thumb on the frontpage **/
    &__gallery-thumb {
        float: left;
        cursor: pointer;
        width: 320px;
        height: 150px;
        @include transition(.2s);
        @include filter(brightness, 80%);
        &:hover {
            @include filter(brightness, 100%);
        }
    }
    &-title {
        text-transform: capitalize;
        .title {
            @include spacemar(5px);
            font-size: 1.5em;
        }
    }
}

@import 'section';

.item-post-thumb {
    max-height: 244px;
    overflow: hidden;
    img,iframe {
        @include transition(.4s);
    }
    &:hover {
        img,iframe {
            @include filter(invert, 20%);
        }
    }
    iframe.vidio-embed {
        pointer-events: none;
    }
}
