/** section style **/


/* this style governs the inner structure of item-article */

.section-item {
    background-color: $color__segment__one;
    .breadcrumb {
        font-size: 1.2em;
    }
    .widget {
        margin: 0;
    }
}

.entry-title {
	margin: 0;
}