/* FRONT PAGE STYLE */

.frontpage {
    .content-header {
        .content-theatre {
            background: $color__primary__green;
            display: none;
            max-height: 600px;
            overflow: hidden;
            &.active {
                display: block;
            }
        }
        .leftCol {
            color: #fff;
            .title {
                font-size: 3em;
            }
            button.btn {
                font-size: 1.5em;
                float: right;
            }
            .column-container {
                padding: 2em;
            }
        }
    }
    .content {
        background-color: $color__primary__blue;
        color: #fff;
    }
}

#frontpage-header-gallery {
    background-color: rgba(0, 0, 0, 0.9);
}
