/* FRONT PAGE STYLE */

.frontpage {
    .content-header {
        .content-theatre {
            background: $color__primary__green;
            // height: 600px;
            @include breakpoint(sm) {
                max-height: 600px;
                overflow: hidden;
            }
        }
        .leftCol {
            color: #fff;
            min-height: 600px;
            .title {
                font-size: 3em;
            }
            button.btn {
                font-size: 1.5em;
                float: right;
            }
            .column-container {
                padding: 2em;
                @include breakpoint(xs) {
                    min-height: 80vh;
                    min-height: 534px;
                }
            }
        }
    }
    .content {
        background-color: $color__primary__blue;
        color: #fff;
    }
}

#main-gallery-desktop .content-theatre {
    display: none;
    min-height: 600px;
    &.active {
        display: block;
    }
}

#gallery-thumb {
    background-color: rgba(0, 0, 0, 0.9);
}
