.widget-footer {
    .widget-title {
        font-weight: 600;
    }
    ul {
        @extend .nodots;
        a {
            color: #000;
            &:visited {
                color: #000;
            }
        }
    }
}
