.main-navigation {
    float: right;
    ul {
        display: table;
        margin: 0;
        padding-left: 0;
        li {
            display: table-cell;
            vertical-align: middle;
            list-style: none;
            text-align: center;
            a {
                @include transition(0.1s);
                color: #000;
                text-transform: uppercase;
                &:hover {
                    color: $color__primary__red;
                }
            }
        }
    }
}

.main-navigation.desktop {
    ul {
        li {
            height: auto;
            width: calc(100% - 65%);
            a {
                display: block;
                padding: 1em;
            }
        }
    }
}

.main-navigation.mobile {
    width: 100%;
    background-color: $color__primary__green;
    position: absolute;
    z-index: 99;
    display: none;
    @include transition(.2s);
    body.active & {
        display: block;
    }
    ul,
    li {
        display: block;
        width: 100%;
    }
    li {
        @include spacepad(0.8em);
        a {
            color: #fff;
        }
    }
}


/* ******************** *
 * Mobile Megamenu 
 * ******************** */

.main-navigation__bar {
    float: right;
    @include spacepad(15px);
    .bar {
        height: 4px;
        width: 25px;
        background-color: #000;
        position: relative;
        @include spacemar(4px);
        @include transition(.2s);
    }
    body.active & {
        .bar {
            &-one {
                transform: rotate(-50deg);
                transform-origin: left left;
                top: 8px;
            }
            &-two {
                display: none;
            }
            &-three {
                transform: rotate(50deg);
                transform-origin: right right;
            }
        }
    }
}

// .main-navigation.mobile {
//     display: none;
// }
